h1{
    font-family: var(--headingfont);
    margin-left: 40%;
    font-size: 200%;
    }

h2{
    padding-left: 30%;
    margin-top: 20%;
    text-align: center;
}

h3{
    font-size: 250%;
    text-align: center;
}

h4{
    text-align: center;
    font-size: 200%;
}

 #girls{
      margin-right: 50%;  
    }

p{
    text-align: center;
    font-size: 150%;
}

.me{
    border-radius: 200px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 50%;

}