h1{
    font-family: var(--headingfont);
    margin-left: 40%;
    font-size: 200%;
    }

h2{
    padding-left: 30%;
    margin-top: 20%;
    text-align: center;
}

h3{
    font-size: 250%;
    text-align: center;
}

 #girls{
      margin-right: 50%;  
    }

p{
    text-align: center;
}
